@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

body {
  background-color: #e6f9ff;
  color: #a6a6a6;
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-style: bold;
}

h2 {
  font-size: 20px;
  font-style: normal;
  text-align: center;
}

h4 {
  font-size: 20px;
  text-decoration: underline;
}

img {
  display: block;
  width: 400px;
  margin: 10px auto;
}

p {
  color: gray
}
